body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    color: #2a3237;
    background-color: rgba(211, 176, 65, 1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    background-color: #efecbf;
    margin-bottom: 0;
}

.navbar-header {
    min-height: 70px;
}

.navbar-brand {
    padding: 3px;
    display: inline;
}

header {
    position: relative;
    width: 100%;
    color: white;
    background: rgba(28, 36, 65, 0.93);
    background: url('../img/header.jpg');
    background-size: cover;
}

header .table {
    display: table;
    height: 100%;
}

header .container {
    height: 100%;
}

header .header-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #010101;
}

.intro-table {
    background-color: #0f6186;
    min-height: 540px;
}

#map{
    width: 100%;
    height: 400px;
}

/*buttons*/
* {
    border-radius: 0 !important;
}

.lunchBackground {
    background: url('../img/tenpura.jpg');
    width: 100%;
    background-size: cover;
}

.dinnerBackground {
    background: url('../img/robata.jpg');
    width: 100%;
    background-size: cover;
}

.sushiBackground {
    background: url('../img/sushi.jpg');
    width: 100%;
    background-size: cover;
}


/*
    Wappa Section
*/
#services {
    background-color: #000000;
    color: #ffffff;
    min-height: 600px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.icon-holder {
    text-align: center;
}

.table>tbody>tr>td {
    border: none;
}

.align-right {
    text-align: right;
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #626262;
}

#happyHour {
    color: #ffffff;
}

.menu-font-size {
    font-size: 17px;
}


@media(max-width:991px) {
    .text-center-mobile {
        text-align: center !important;
    }
}