/*
    Cream Yellow color: #efecbf;
*/


body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    color: #2a3237;
    background: url('../img/background/ricepaper_v3_dark.jpg');
    /*
    background-color: rgba(211, 176, 65, 1);
    */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*
.navbar {
    background-color: rgba(239, 236, 191, 0.7);
    margin-bottom: 0;
}

.navbar-header {
    min-height: 70px;
}

.navbar-brand {
    padding: 3px;
    display: inline;
}
*/

.logo {
    box-shadow: 0 15px 17px rgba(0,0,0,0.25), 0 15px 16px rgba(0,0,0,0.50);
    /*    margin-left: 20px;
        margin-right: 10px;*/
}

/*.logo {
    background: url("../img/logo_100x200.png");
    width: 100px;
    height: 200px;
    top: 90px;
    margin-left: -50px;
    position: absolute;
    z-index: 99;
    box-shadow: 0 15px 17px rgba(0,0,0,0.25), 0 15px 16px rgba(0,0,0,0.50);
    /!*    margin-left: 20px;
        margin-right: 10px;*!/
}*/


header {
    position: relative;
    width: 100%;
    color: white;
    background: rgba(28, 36, 65, 0.93);
    background: url('../img/header.jpg');
    background-size: cover;
}

header .table {
    display: table;
    height: 100%;
}

header .container {
    height: 100%;
}

header .header-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;

}

.rest-name {
    font-size: 60px;
}

.rest-name-2nd {
    font-size: 26px;
}

.character {
    background: url("../img/icons/musashi_character.gif");
    width: 120px;
    height: 143px;
    box-shadow: 0 15px 17px rgba(0,0,0,0.25), 0 15px 16px rgba(0,0,0,0.50);
    /*    margin-left: 20px;
        margin-right: 10px;*/
}

/*
    Panes
*/

.intro-table {
    min-height: 300px;
    /*
    background: url('../img/background/higakiRed.jpg');
    */
    background-color: #480e0d;
    padding: 10px 10px 10px 10px;
}

#menu {
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu-pane {
    padding: 30px;
    position: relative;
}

#map {
    width: 100%;
    height: 400px;
}

/*buttons*/
* {
    border-radius: 0 !important;
}

.btn-looks{
    background-color: transparent;
    border-color: #73a73b;
    border-width: thin;
    color: #ffffff;
}
.btn-looks:hover{
    background-color: rgba(115, 167, 59, 0.9);
    color: #ffffff;
    transition: all 300ms ease;
}

.btn-container {
    display: table-cell;
    vertical-align: bottom;
    bottom: 10px;
    padding-bottom: 20px;
}


.lunchBackground {
    background: url('../img/tenpura.jpg');
    width: 100%;
    background-size: cover;
    padding: 0;
    min-height: 300px;
}

.dinnerBackground {
    background: url('../img/robata.jpg');
    width: 100%;
    background-size: cover;
    padding: 0;
    min-height: 300px;
}

.sushiBackground {
    background: url('../img/sushi.jpg');
    width: 100%;
    background-size: cover;
    padding: 0;
    min-height: 300px;
}

.menu-title {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu-button {

}


#weekly {
    padding-top: 10px;
    padding-bottom: 100px;
}



/*
    Wappa Section
*/
#services {
    background-color: rgba(0,0,0,0.8);
    color: #ffffff;
    min-height: 600px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.icon-holder {
    text-align: center;
}

.table>tbody>tr>td {
    border: none;
}

.align-right {
    text-align: right;
}


.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #626262;
}

#happyHour {
    min-height: 600px;
    background-color: rgba(134, 94, 40, 0.6);
    color: #ffffff;
}

.menu-font-size {
    font-size: 17px;
}


.image-shadow {
    box-shadow: 0 5px 7px rgba(0,0,0,0.12), 0 5px 6px rgba(0,0,0,0.24);
}

@media(max-width:991px) {
    .text-center-mobile {
        text-align: center !important;
    }
    .logo {
        top: 45px;
    }
    .rest-name {
        font-size: 50px;
    }

}


.comingDown1s {
    -webkit-animation: comingDown 1s;
    -o-animation: comingDown 1s;
    animation: comingDown 1s;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }

.comingDown2s {
    -webkit-animation: comingDown 2s;
    -o-animation: comingDown 2s;
    animation: comingDown 2s;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }

.comingDown3s {
    -webkit-animation: comingDown 3s;
    -o-animation: comingDown 3s;
    animation: comingDown 3s;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }

@keyframes comingDown {
    0% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px); }
    100% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); } }

.comingDownLoop {
    -webkit-animation: comingDown 1s infinite;
    -o-animation: comingDown 1s infinite;
    animation: comingDown 1s infinite;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }

.comingDownLoop {
    -webkit-animation: comingDown 1s infinite;
    -o-animation: comingDown 1s infinite;
    animation: comingDown 1s infinite;
    -webkit-transform: translate(0);
    -moz-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0); }

@keyframes comingDownLoop {
    0% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        transform: translate(0, -15px); }
    100% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); } }
